    .main-body {
        margin: 100px 370px 40px 75px;
        padding: 100px 100px 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 2;
        border: 0 solid #e5e5e5;
        z-index: 2;
        background-color: white;
        /* box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45); */
    }
    
    .arrow {
        /* position: relative; */
        color: var(--bs-body-color);
    }
    
    .arrow:hover {
        /* position: relative; */
        transform: scale(2);
        color: #0e76a8;
    }
    
    #main-heading {
        padding: 8rem;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        font-size: 5rem;
        background-color: var(--bs-body-color);
        color: #fff;
        margin-bottom: 4rem;
        z-index: -1;
    }
    
    .custom-card-body-margin {
        margin: 0 1.5rem;
    }
    
    .main-page-images {
        border-radius: 5px;
    }
    
    .custom-card-align {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        margin: 2rem auto;
        padding: 2rem;
    }
    
    dd {
        margin-inline-start: 0px;
    }
    
    .btn {
        background-color: var(--bs-body-color);
    }
    
    .floater {
        position: absolute;
        margin: 2rem 11rem 2.5rem;
        color: white;
        /* background-color: var(--bs-body-color); */
        background: transparent;
    }
    
    .floater2 {
        background-color: var(--bs-body-color);
        ;
    }
    
    body {
        margin: 0;
    }
    
    .invisible {
        visibility: hidden;
    }
    
    .main-page-hr {
        border: solid 2px black;
        width: 70%;
        margin: auto;
        background-color: #000;
        border-radius: 10px;
        margin-bottom: 2rem;
    }
    
    .content {
        margin-top: 40px;
        padding: 0 70px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 2;
    }
    
    .content h1 {
        font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
        font-weight: 700;
        font-size: 2rem;
        padding-bottom: 20px;
    }
    
    .sidehead-mainpage {
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        padding-bottom: 20px;
    }
    
    .top-para {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 2;
        padding: 40px 0px;
    }
    
    .bottom-para {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 2;
        padding: 0 110px 60px;
    }
    
    .background {
        /* padding: -8px 200px; */
        background-repeat: no-repeat;
    }
    
    .alignment {
        position: relative;
        /* display: inline-block; */
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
        margin: 3.5rem auto;
        max-width: 100%;
    }
    
    .top-heading {
        font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
        font-weight: 700;
        padding-top: 2.5rem;
        font-size: 52px;
        line-height: 1;
        letter-spacing: -.03em;
        /* padding: 0 20px;
        margin-block-start: 5px; */
    }
    /* icons */
    
    .custom {
        padding: 10px 20px;
    }
    
    .fb {
        color: #3B5998;
    }
    
    .ig {
        color: #f09433;
        color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        color: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        color: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    }
    
    .github {
        color: #171515;
    }
    
    .mail {
        color: #15aabf;
    }
    
    .linkedin {
        color: #0e76a8
    }
    
    .custom:hover {
        opacity: 0.7;
    }
    
    .likebutton {
        color: #BFC8B1;
        align-items: center;
        padding-bottom: 2.5rem;
    }
    
    .likebutton:hover {
        color: blue;
    }
    
    .liked {
        color: blue;
    }
    
    .likecountdisplay {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        /* padding-bottom: 50px; */
    }
    
    #like-button {
        text-align: center;
    }
    
    button {
        outline: 0;
        background: transparent;
        color: transparent;
        border: none;
    }
    /* headings  */
    
    .bold-text {
        font-weight: 700;
        padding: 1.7rem 0rem 1.7rem;
        font-size: 1.4rem;
        font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    }
    /* phone state  */
    
    @media screen and (min-width:360px) and (max-width:765px) {
        .main-body {
            margin: 20px;
            border-radius: 20px 50px;
            padding: 1rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
        }
        .top-para,
        .bottom-para {
            padding: 16px;
        }
        .content {
            margin-top: 20px;
            padding: 0 2rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            line-height: 2;
        }
        .custom-card-align {
            float: none;
            margin-bottom: 15px;
            margin: 2rem;
            padding: 1rem;
        }
    }
    /* tab state */
    
    @media screen and (min-width:766px) and (max-width:1200px) {
        .main-body {
            border-radius: 20px 50px;
            margin: 4rem;
            padding: 2.5rem 2.5rem 0;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
        }
        .top-para,
        .bottom-para {
            padding: 16px;
        }
        .content {
            margin-top: 1.2rem;
            padding: 0 2rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            line-height: 2;
        }
        .custom-card-align {
            float: none;
            margin-bottom: 10px;
            margin: 4rem;
            padding: 1.5rem;
        }
    }
    
    @media screen and (min-width:1200px) {
        .custom-card-align {
            max-width: 900px;
        }
    }
    /* footer  */
    
    .footer {
        text-align: center;
        padding: 120px;
        margin-top: 15px;
        background-color: #1A1C20
    }